#produtos{
    width: 100%;
    height: 100vh;
    background-color: #fff9ea;
    padding-top: 100px;
    
}

.titulos-produtos{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;
}

.titulos-produtos h2{
    color: rgb(280, 160, 11);
}

.menu-produtos{
    display: flex;
    padding: 0px 8%;
    gap: 30px;
}

.itens-produtos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    height: 500px;
    width: 300px;
    border-radius: 20px;
    padding: 20px 0px 20px 0px;
}

.img-produtos{
    width: 250px;
    height: 250px;
}

.center{
    text-align: center;
}